img { max-width: 100%; }

.styled-image {
  border: 1px solid $color-fg;
  padding: 5px;
  margin: 10px;
  background: $color-bg;
  box-shadow: -4px 3px 10px rgba(0,0,0,0.2);
}

.logo {
  width: 450px;
  margin: 0 auto;

  @media screen and (max-width: $break-small) {
    width: 290px;
  }

  img {
    width: 100%;
  }

}

label {
  border-bottom: 1px dashed whitesmoke;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  z-index: -100;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}
  .overlay {
    background-image: url("../images/slash_it.png");
    position: fixed;
    opacity: 0.2;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

#call {  

  background-color: $color-fg-bold;
  font-size: 150%;

  h2 {
    color: $color-bg;
  }

  .container {
    padding: 6em 0;
  }

}

.button {
  @media screen and (max-width: $break-small) {
    width: 100%;
    padding: auto;
  }
}