@mixin vendor-property($property, $value) { 
    @each $vendor in ('-moz-', '-webkit-', '-o-', '-ms-', '') {
        #{$vendor}#{$property}: #{$value};
    }
}

@mixin vendor-value($property, $value) { 
    @each $vendor in ('-moz-', '-webkit-', '-o-', '-ms-', '') {
        #{$property}: #{$vendor}#{$value};
    }
}

@mixin vendor($property, $value) { 
    @each $vendor in ('-moz-', '-webkit-', '-o-', '-ms-', '') {
        #{$vendor}#{$property}: #{$vendor}#{$value};
    }
}

@mixin vendor-keyframes($name) {
	@-moz-keyframes #{$name} { @content; }
	@-webkit-keyframes #{$name} { @content; }
	@-o-keyframes #{$name} { @content; }
	@-ms-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}

@mixin icon($content: false) {
	text-decoration: none;

	&:before {
		@if $content {
			content: $content;
		}
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}
}

// Dark (mixin)

    @mixin dark($color-this-bg: $color-dark-bg) {
        background-color: $color-this-bg;
        color: $color-dark-fg;

        a {
            border-bottom-color: transparentize($color-dark-fg, 0.25);

            &:hover {
                color: $color-dark-fg-bold;
            }
        }

        h1, h2, h3, h4, h5, h6, strong, b {
            color: $color-dark-fg-bold;
        }

        header {
            p {
                color: $color-dark-fg-bold;
            }

            &.major {
                &:after {
                    background: $color-dark-border;
                }
            }
        }

        input[type="submit"],
        input[type="reset"],
        input[type="button"],
        button,
        .button {
            box-shadow: inset 0 0 0 1px $color-dark-border;
            color: $color-dark-fg-bold !important;

            &:hover {
                background-color: $color-dark-border-bg;
            }

            &:active {
                background-color: $color-dark-border2-bg;
            }

            &.special {
                background-color: $color-dark-fg-bold;
                box-shadow: inset 0 0 0 1px $color-dark-border !important;
                color: $color-this-bg !important;

                &:hover {
                    background-color: $color-dark-border-bg !important;
                    color: $color-dark-fg-bold !important;
                }

                &:active {
                    background-color: $color-dark-border2-bg !important;
                }
            }
        }

        ul {
            &.major-icons {
                li {
                    .icon {
                        border-color: $color-dark-border;
                    }
                }
            }
        }

        .icon {
            &.major {
                color: $color-dark-fg-bold;
            }
        }
    }