@import 'vars';
@import 'mixins';

/*
	Photon by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

	h1 {
		font-size: 1.75em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.1em;
	}

	h4 {
		font-size: 1em;
	}

/* List */

	ul {
		&.major-icons {
			li {
				padding: 1.5em;

				.icon {
					height: 5em;
					line-height: 5em;
					width: 5em;

					&:before {
						font-size: 42px;
					}
				}
			}
		}
	}

/* Icon */

	.icon {
		&.major {
			margin: 0 0 ($size-element-margin * 0.5) 0;
		}
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		height: 3em;
		line-height: 3em;
	}

/* Main */

	.main {
		@include padding(3em, 1.5em);
	}

/* Header */

	#header {
		@include padding(4em, 3em, (0,0,$size-element-margin,0));

		.actions {
			margin: $size-element-margin 0 0 0;
		}
	}
  .logo {
    width: 290px;
  }
/* Footer */

	#footer {
		@include padding(3em, 1.5em, (0,0,$size-element-margin,0));
	}
