@import 'vars';
@import 'mixins';
@import 'font-awesome.min.css';
@import url('http://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic');
@import 'custom';
/*
	Photon by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Basic */

	body {
		background: $color-bg;

		&.is-loading {
			*, *:before, *:after {
				@include vendor-property('animation', 'none !important');
				@include vendor-property('transition', 'none !important');
			}
		}
	}

	body, input, select, textarea {
		color: $color-fg;
		font-family: $font-family;
		font-size: 16pt;
		font-weight: $font-weight;
		line-height: 1.65em;
	}

	a {
		@include vendor-property('transition', 'color #{$duration-transition} ease-in-out, border-color #{$duration-transition} ease-in-out');
		border-bottom: dotted 1px $color-fg;
		color: inherit;
		text-decoration: none;

		&:hover {
			border-bottom-color: transparent !important;
			color: $color-accent3;
		}
	}

	strong, b {
		color: $color-fg-bold;
		font-weight: $font-weight-bold;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 $size-element-margin 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: $color-fg-bold;
		line-height: 1em;
		margin: 0 0 ($size-element-margin * 0.5) 0;

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	h1 {
		font-size: 2.25em;
		line-height: 1.35em;
	}

	h2 {
		font-size: 2em;
		line-height: 1.35em;
	}

	h3 {
		font-size: 1.35em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.25em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border: 0;
		border-bottom: solid 1px $color-border;

		// This is the *only* instance where we need to rely on margin collapse.
		margin: $size-element-margin 0;

		&.major {
			margin: ($size-element-margin * 1.5) 0;
		}
	}

	blockquote {
		border-left: solid 4px $color-border;
		font-style: italic;
		margin: 0 0 $size-element-margin 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: $color-border-bg;
		border-radius: $size-border-radius;
		border: solid 1px $color-border;
		font-family: $font-family-fixed;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: $font-family-fixed;
		font-size: 0.9em;
		margin: 0 0 $size-element-margin 0;

		code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto;
		}
	}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

/* Section/Article */

	section, article {
		&.special {
			text-align: center;
		}
	}

	header {
		p {
			color: $color-fg-light;
			margin: 0 0 ($size-element-margin * 0.75) 0;
			position: relative;
		}

		h2 + p {
			font-size: 1.25em;
			line-height: 1.5em;
			margin-top: ($size-element-margin * -0.5);
		}

		h3 + p {
			font-size: 1.1em;
			line-height: 1.5em;
			margin-top: ($size-element-margin * -0.4);
		}

		h4 + p,
		h5 + p,
		h6 + p {
			font-size: 0.9em;
			line-height: 1.5em;
			margin-top: ($size-element-margin * -0.3);
		}

		&.major {
			margin: 0 0 ($size-element-margin * 0.5) 0;

			&:after {
				background: $color-border;
				content: '';
				display: inline-block;
				height: 1px;
				margin-top: ($size-element-margin * 0.75);
				width: 6em;
			}

			h2, h3, h4, h5, h6 {
				margin: 0;
			}

			p {
				margin: ($size-element-margin * 0.35) 0 0 0;
			}
		}

		&.special {
			text-align: center;
		}
	}

/* Form */

	form {
		margin: 0 0 $size-element-margin 0;
	}

	label {
		color: $color-fg-bold;
		display: block;
		font-size: 0.9em;
		font-weight: $font-weight-bold;
		margin: 0 0 ($size-element-margin * 0.5) 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		@include vendor-property('appearance', 'none');
		background: $color-border-bg;
		border-radius: $size-border-radius;
		border: none;
		border: solid 1px $color-border;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;

		&:invalid {
			box-shadow: none;
		}

		&:focus {
			border-color: $color-accent3;
		}
	}

	.select-wrapper {
		@include icon;
		display: block;
		position: relative;

		&:before {
			color: $color-border;
			content: '\f078';
			display: block;
			height: $size-element-height;
			line-height: $size-element-height;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: $size-element-height;
		}

		select::-ms-expand {
			display: none;
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: $size-element-height;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"], {
		@include vendor-property('appearance', 'none');
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;

		& + label {
			@include icon;
			color: $color-fg;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: $font-weight;
			padding-left: ($size-element-height * 0.6) + 0.75em;
			padding-right: 0.75em;
			position: relative;

			&:before {
				background: $color-border-bg;
				border-radius: $size-border-radius;
				border: solid 1px $color-border;
				content: '';
				display: inline-block;
				height: ($size-element-height * 0.6);
				left: 0;
				line-height: ($size-element-height * 0.575);
				position: absolute;
				text-align: center;
				top: 0;
				width: ($size-element-height * 0.6);
			}
		}

		&:checked + label {
			&:before {
				background: $color-dark-bg;
				border-color: $color-dark-bg;
				color: $color-dark-fg-bold;
				content: '\f00c';
			}
		}

		&:focus + label {
			&:before {
				border-color: $color-accent3;
			}
		}
	}

	input[type="checkbox"] {
		& + label {
			&:before {
				border-radius: $size-border-radius;
			}
		}
	}

	input[type="radio"] {
		& + label {
			&:before {
				border-radius: 100%;
			}
		}
	}

	::-webkit-input-placeholder {
		color: $color-fg-light !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: $color-fg-light !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: $color-fg-light !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: $color-fg-light !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: $color-fg-light !important;
		opacity: 1.0;
	}

/* Box */

	.box {
		border-radius: $size-border-radius;
		border: solid 1px $color-border;
		margin-bottom: $size-element-margin;
		padding: 1.5em;

		> :last-child,
		> :last-child > :last-child,
		> :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		&.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}
	}

/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}

		&.style1 { &:before { color: $color-accent1; } }
		&.style2 { &:before { color: $color-accent2; } }
		&.style3 { &:before { color: $color-accent3; } }
		&.style4 { &:before { color: $color-accent4; } }
		&.style5 { &:before { color: $color-accent5; } }
		&.style6 { &:before { color: $color-accent6; } }

		&.major {
			@include icon;
			color: $color-fg-bold;
			cursor: default;
			display: inline-block;
			margin: 0 0 ($size-element-margin * 0.75) 0;

			&:before {
				font-size: 4em;
				line-height: 1em;
			}
		}
	}

/* Image */

	.image {
		border-radius: $size-border-radius;
		border: 0;
		display: inline-block;
		position: relative;

		img {
			border-radius: $size-border-radius;
			display: block;
		}

		&.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		&.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		&.left,
		&.right {
			max-width: 40%;

			img {
				width: 100%;
			}
		}

		&.fit {
			display: block;
			margin: 0 0 $size-element-margin 0;
			width: 100%;

			img {
				width: 100%;
			}
		}
	}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 $size-element-margin 0;
		padding-left: 1.25em;

		li {
			padding-left: 0.25em;
		}
	}

	ul {
		list-style: disc;
		margin: 0 0 $size-element-margin 0;
		padding-left: 1em;

		li {
			padding-left: 0.5em;
		}

		&.alt {
			list-style: none;
			padding-left: 0;

			li {
				border-top: solid 1px $color-border;
				padding: 0.5em 0;

				&:first-child {
					border-top: 0;
					padding-top: 0;
				}
			}
		}

		&.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;

			li {
				display: inline-block;
				padding: 0 1.25em 0 0;

				&:last-child {
					padding-right: 0;
				}

				.icon {
					&:before {
						font-size: 1.5em;
					}
				}
			}
		}

		&.major-icons {
			list-style: none;
			padding-left: 0;

			li {
				display: inline-block;
				padding: 2.5em;
				text-align: center;

				.icon {
					@include vendor-property('transform', 'rotate(45deg)');
					border-radius: $size-border-radius;
					border: solid 1px $color-border;
					display: inline-block;
					height: 8em;
					line-height: 8em;
					margin: 0;
					text-align: center;
					width: 8em;

					&:before {
						@include vendor-property('transform', 'rotate(-45deg)');
						display: inline-block;
						line-height: inherit;
					}
				}
			}
		}

		&.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;

			li {
				display: inline-block;
				padding: 0 ($size-element-margin * 0.5) 0 0;
				vertical-align: middle;

				&:last-child {
					padding-right: 0;
				}
			}

			&.small {
				li {
					padding: 0 ($size-element-margin * 0.25) 0 0;
				}
			}

			&.vertical {
				li {
					display: block;
					padding: ($size-element-margin * 0.5) 0 0 0;

					&:first-child {
						padding-top: 0;
					}

					> * {
						margin-bottom: 0;
					}
				}

				&.small {
					li {
						padding: ($size-element-margin * 0.25) 0 0 0;

						&:first-child {
							padding-top: 0;
						}
					}
				}
			}

			&.uniform {
				li {
					> * {
						min-width: 12em;
					}
				}
			}

			&.fit {
				display: table;
				margin-left: ($size-element-margin * -0.5);
				padding: 0;
				table-layout: fixed;
				width: calc(100% + #{($size-element-margin * 0.5)});

				li {
					display: table-cell;
					padding: 0 0 0 ($size-element-margin * 0.5);

					> * {
						margin-bottom: 0;
					}
				}

				&.small {
					margin-left: ($size-element-margin * -0.25);
					width: calc(100% + #{($size-element-margin * 0.25)});

					li {
						padding: 0 0 0 ($size-element-margin * 0.25);
					}
				}
			}
		}
	}

	dl {
		margin: 0 0 $size-element-margin 0;
	}

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 $size-element-margin 0;
		width: 100%;

		tbody {
			tr {
				border-left: 0;
				border-right: 0;

				&:nth-child(2n + 1) {
					background-color: $color-border-bg;
				}
			}
		}

		td {
			padding: 0.75em 0.75em;
		}

		th {
			color: $color-fg-bold;
			font-size: 0.9em;
			font-weight: $font-weight-bold;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		thead {
			border-bottom: solid 1px $color-border;
		}

		tfoot {
			border-top: solid 1px $color-border;
		}

		&.alt {
			border-collapse: separate;

			tbody {
				tr {
					td {
						border: solid 1px $color-border;
						border-left-width: 0;
						border-top-width: 0;

						&:first-child {
							border-left-width: 1px;
						}
					}

					&:first-child {
						td {
							border-top-width: 1px;
						}
					}
				}
			}

			thead {
				border-bottom: 0;
			}

			tfoot {
				border-top: 0;
			}
		}
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		@include vendor-property('appearance', 'none');
		@include vendor-property('transition', 'background-color #{$duration-transition} ease-in-out, color #{$duration-transition} ease-in-out');
		background-color: transparent;
		border-radius: $size-border-radius;
		border: 0;
		box-shadow: inset 0 0 0 1px $color-border;
		color: $color-fg-bold !important;
		cursor: pointer;
		display: inline-block;
		font-size: 0.9em;
		font-weight: $font-weight-bold;
		height: 2.75em;
		letter-spacing: 0.125em;
		line-height: 2.75em;
		padding: 0 2em;
		text-align: center;
		text-decoration: none;
		text-indent: 0.125em;
		text-transform: uppercase;
		white-space: nowrap;

		&:hover {
			background-color: $color-border-bg;
		}

		&:active {
			background-color: $color-border2-bg;
		}

		&.icon {
			padding-left: 1.35em;

			&:before {
				margin-right: 0.5em;
			}
		}

		&.fit {
			display: block;
			margin: 0 0 ($size-element-margin * 0.5) 0;
			width: 100%;
		}

		&.small {
			font-size: 0.7em;
		}

		&.big {
			font-size: 1.25em;
		}

		&.special {
			background-color: $leisure-orange;
			box-shadow: none !important;
			color: $color-bg !important;

			&:hover {
				background-color: lighten($color-fg-bold, 5);
			}

			&:active {
				background-color: darken($color-fg-bold, 5);
			}
		}

		&.disabled,
		&:disabled {
			cursor: default;
			opacity: 0.25;
		}
	}

	@mixin video($color-this-bg: $color-dark-bg) {
		background-color: none;
		color: $color-dark-fg;

		a {
			border-bottom-color: transparentize($color-dark-fg, 0.25);

			&:hover {
				color: $color-dark-fg-bold;
			}
		}

		h1, h2, h3, h4, h5, h6, strong, b {
			color: $color-dark-fg-bold;
		}

		header {
			p {
				color: $color-dark-fg-bold;
			}

			&.major {
				&:after {
					background: $color-dark-border;
				}
			}
		}

		input[type="submit"],
		input[type="reset"],
		input[type="button"],
		button,
		.button {
			box-shadow: inset 0 0 0 1px $color-dark-border;
			color: $color-dark-fg-bold !important;

			&:hover {
				background-color: $color-dark-border-bg;
			}

			&:active {
				background-color: $color-dark-border2-bg;
			}

			&.special {
				background-color: $color-dark-fg-bold;
				box-shadow: inset 0 0 0 1px $color-dark-border !important;
				color: $color-this-bg !important;

				&:hover {
					background-color: $color-dark-border-bg !important;
					color: $color-dark-fg-bold !important;
				}

				&:active {
					background-color: $color-dark-border2-bg !important;
				}
			}
		}

		ul {
			&.major-icons {
				li {
					.icon {
						border-color: $color-dark-border;
					}
				}
			}
		}

		.icon {
			&.major {
				color: $color-dark-fg-bold;
			}
		}
	}

/* Main */

	.main {
		@include padding(6em, 0);

		&.style1 {
			background: $color-bg;
		}

		&.style2 {
			@include dark(#333);
		}
	}

/* Header */

	#header {
		@include padding(9em, 0, (0,0,$size-element-margin,0));
		@include video(#4686a0);
		overflow: hidden;
		position: relative;
		text-align: center;

		h1 {
			margin: 0;
		}

		p {
			margin: ($size-element-margin * 0.5) 0 0 0;
		}

		.actions {
			margin: ($size-element-margin * 1.25) 0 0 0;
			position: relative;

			&:after {
				/*background: $color-dark-border;*/
				content: '';
				height: 100vh;
				left: 50%;
				position: absolute;
				top: 100%;
				width: 1px;
			}
		}

		.inner {
			@include vendor('transition', 'transform 1.5s ease, opacity 2s ease');
			@include vendor-property('transition-delay', '0.25s');
			@include vendor-property('transform', 'scale(1)');
			opacity: 1;
			position: relative;
			z-index: 1;

			.actions {
				@include vendor('transition', 'transform 1.25s ease');
				@include vendor-property('transition-delay', '1s');
				@include vendor-property('transform', 'translateY(0)');
				opacity: 1;
			}
		}

		&:after {
			@include vendor-value('transition', 'opacity 1s ease');
			background-image: linear-gradient(45deg, $color-accent3-alt, $color-accent6-alt);
			content: '';
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	body.is-loading {
		#header {
			.inner {
				@include vendor-property('transform', 'scale(1.05)');
				opacity: 0;

				.actions {
					@include vendor-property('transform', 'translateY(30em)');
					opacity: 0;
				}
			}

			&:after {
				opacity: 1;
			}
		}
	}

/* Footer */

	#footer {
		@include padding(6em, 0, (0,0,$size-element-margin,0));
		@include dark(#000);
		text-align: center;

		.icons {
			margin: 0;
		}

		.copyright {
			font-size: 0.8em;
			list-style: none;
			margin: $size-element-margin 0 0 0;
			padding: 0;

			li {
				border-left: solid 1px;
				display: inline-block;
				line-height: 1em;
				margin-left: 1em;
				padding: 0 0 0 1em;

				&:first-child {
					border-left: 0;
					margin-left: 0;
					padding: 0;
				}
			}
		}
	}
