/*
	Photon by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Basic */
body, input, select, textarea {
  font-size: 12pt; }

h1 {
  font-size: 1.75em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.1em; }

h4 {
  font-size: 1em; }

/* List */
ul.major-icons li {
  padding: 1.5em; }
  ul.major-icons li .icon {
    height: 5em;
    line-height: 5em;
    width: 5em; }
    ul.major-icons li .icon:before {
      font-size: 42px; }

/* Icon */
.icon.major {
  margin: 0 0 1em 0; }

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  height: 3em;
  line-height: 3em; }

/* Main */
.main {
  padding: 3em 1.5em 1em 1.5em; }

/* Header */
#header {
  padding: 4em 3em 4em 3em; }
  #header .actions {
    margin: 2em 0 0 0; }

/* Footer */
#footer {
  padding: 3em 1.5em 3em 1.5em; }

/*# sourceMappingURL=style-small.css.map */
