@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic");
img {
  max-width: 100%; }

.styled-image {
  border: 1px solid #666;
  padding: 5px;
  margin: 10px;
  background: #fff;
  box-shadow: -4px 3px 10px rgba(0, 0, 0, 0.2); }

.logo {
  width: 450px;
  margin: 0 auto; }
  @media screen and (max-width: 420px) {
    .logo {
      width: 290px; } }
  .logo img {
    width: 100%; }

label {
  border-bottom: 1px dashed whitesmoke; }

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  z-index: -100;
  background-size: cover;
  transition: 1s opacity; }

.stopfade {
  opacity: .5; }

.overlay {
  background-image: url("../images/slash_it.png");
  position: fixed;
  opacity: 0.2;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1; }

#call {
  background-color: #005799;
  font-size: 150%; }
  #call h2 {
    color: #fff; }
  #call .container {
    padding: 6em 0; }

@media screen and (max-width: 420px) {
  .button {
    width: 100%;
    padding: auto; } }

/*
	Photon by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Basic */
body {
  background: #fff; }
  body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important; }

body, input, select, textarea {
  color: #666;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.65em; }

a {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-bottom: dotted 1px #666;
  color: inherit;
  text-decoration: none; }
  a:hover {
    border-bottom-color: transparent !important;
    color: #6bd4c8; }

strong, b {
  color: #005799;
  font-weight: 400; }

em, i {
  font-style: italic; }

p {
  margin: 0 0 2em 0; }

h1, h2, h3, h4, h5, h6 {
  color: #005799;
  line-height: 1em;
  margin: 0 0 1em 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none; }

h1 {
  font-size: 2.25em;
  line-height: 1.35em; }

h2 {
  font-size: 2em;
  line-height: 1.35em; }

h3 {
  font-size: 1.35em;
  line-height: 1.5em; }

h4 {
  font-size: 1.25em;
  line-height: 1.5em; }

h5 {
  font-size: 0.9em;
  line-height: 1.5em; }

h6 {
  font-size: 0.7em;
  line-height: 1.5em; }

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em; }

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em; }

hr {
  border: 0;
  border-bottom: solid 1px rgba(0, 87, 153, 0.5);
  margin: 2em 0; }
  hr.major {
    margin: 3em 0; }

blockquote {
  border-left: solid 4px rgba(0, 87, 153, 0.5);
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em; }

code {
  background: rgba(0, 87, 153, 0.1);
  border-radius: 4px;
  border: solid 1px rgba(0, 87, 153, 0.5);
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em; }

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0; }
  pre code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

/* Section/Article */
section.special, article.special {
  text-align: center; }

header p {
  color: #999;
  margin: 0 0 1.5em 0;
  position: relative; }
header h2 + p {
  font-size: 1.25em;
  line-height: 1.5em;
  margin-top: -1em; }
header h3 + p {
  font-size: 1.1em;
  line-height: 1.5em;
  margin-top: -0.8em; }
header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9em;
  line-height: 1.5em;
  margin-top: -0.6em; }
header.major {
  margin: 0 0 1em 0; }
  header.major:after {
    background: rgba(0, 87, 153, 0.5);
    content: '';
    display: inline-block;
    height: 1px;
    margin-top: 1.5em;
    width: 6em; }
  header.major h2, header.major h3, header.major h4, header.major h5, header.major h6 {
    margin: 0; }
  header.major p {
    margin: 0.7em 0 0 0; }
header.special {
  text-align: center; }

/* Form */
form {
  margin: 0 0 2em 0; }

label {
  color: #005799;
  display: block;
  font-size: 0.9em;
  font-weight: 400;
  margin: 0 0 1em 0; }

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(0, 87, 153, 0.1);
  border-radius: 4px;
  border: none;
  border: solid 1px rgba(0, 87, 153, 0.5);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%; }
  input[type="text"]:invalid,
  input[type="password"]:invalid,
  input[type="email"]:invalid,
  select:invalid,
  textarea:invalid {
    box-shadow: none; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  select:focus,
  textarea:focus {
    border-color: #6bd4c8; }

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative; }
  .select-wrapper:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .select-wrapper:before {
    color: rgba(0, 87, 153, 0.5);
    content: '\f078';
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em; }
  .select-wrapper select::-ms-expand {
    display: none; }

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 2.75em; }

textarea {
  padding: 0.75em 1em; }

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    text-decoration: none;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      background: rgba(0, 87, 153, 0.1);
      border-radius: 4px;
      border: solid 1px rgba(0, 87, 153, 0.5);
      content: '';
      display: inline-block;
      height: 1.65em;
      left: 0;
      line-height: 1.58125em;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.65em; }
  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    background: #666666;
    border-color: #666666;
    color: #ffffff;
    content: '\f00c'; }
  input[type="checkbox"]:focus + label:before,
  input[type="radio"]:focus + label:before {
    border-color: #6bd4c8; }

input[type="checkbox"] + label:before {
  border-radius: 4px; }

input[type="radio"] + label:before {
  border-radius: 100%; }

::-webkit-input-placeholder {
  color: #999 !important;
  opacity: 1.0; }

:-moz-placeholder {
  color: #999 !important;
  opacity: 1.0; }

::-moz-placeholder {
  color: #999 !important;
  opacity: 1.0; }

:-ms-input-placeholder {
  color: #999 !important;
  opacity: 1.0; }

.formerize-placeholder {
  color: #999 !important;
  opacity: 1.0; }

/* Box */
.box {
  border-radius: 4px;
  border: solid 1px rgba(0, 87, 153, 0.5);
  margin-bottom: 2em;
  padding: 1.5em; }
  .box > :last-child,
  .box > :last-child > :last-child,
  .box > :last-child > :last-child > :last-child {
    margin-bottom: 0; }
  .box.alt {
    border: 0;
    border-radius: 0;
    padding: 0; }

/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative; }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .icon > .label {
    display: none; }
  .icon.style1:before {
    color: #c3e895; }
  .icon.style2:before {
    color: #8addaa; }
  .icon.style3:before {
    color: #6bd4c8; }
  .icon.style4:before {
    color: #57aed3; }
  .icon.style5:before {
    color: #4a87d3; }
  .icon.style6:before {
    color: #6b88e6; }
  .icon.major {
    text-decoration: none;
    color: #005799;
    cursor: default;
    display: inline-block;
    margin: 0 0 1.5em 0; }
    .icon.major:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; }
    .icon.major:before {
      font-size: 4em;
      line-height: 1em; }

/* Image */
.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative; }
  .image img {
    border-radius: 4px;
    display: block; }
  .image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em; }
  .image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em; }
  .image.left, .image.right {
    max-width: 40%; }
    .image.left img, .image.right img {
      width: 100%; }
  .image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%; }
    .image.fit img {
      width: 100%; }

/* List */
ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em; }
  ol li {
    padding-left: 0.25em; }

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em; }
  ul li {
    padding-left: 0.5em; }
  ul.alt {
    list-style: none;
    padding-left: 0; }
    ul.alt li {
      border-top: solid 1px rgba(0, 87, 153, 0.5);
      padding: 0.5em 0; }
      ul.alt li:first-child {
        border-top: 0;
        padding-top: 0; }
  ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0; }
    ul.icons li {
      display: inline-block;
      padding: 0 1.25em 0 0; }
      ul.icons li:last-child {
        padding-right: 0; }
      ul.icons li .icon:before {
        font-size: 1.5em; }
  ul.major-icons {
    list-style: none;
    padding-left: 0; }
    ul.major-icons li {
      display: inline-block;
      padding: 2.5em;
      text-align: center; }
      ul.major-icons li .icon {
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 4px;
        border: solid 1px rgba(0, 87, 153, 0.5);
        display: inline-block;
        height: 8em;
        line-height: 8em;
        margin: 0;
        text-align: center;
        width: 8em; }
        ul.major-icons li .icon:before {
          -moz-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          display: inline-block;
          line-height: inherit; }
  ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0; }
    ul.actions li {
      display: inline-block;
      padding: 0 1em 0 0;
      vertical-align: middle; }
      ul.actions li:last-child {
        padding-right: 0; }
    ul.actions.small li {
      padding: 0 0.5em 0 0; }
    ul.actions.vertical li {
      display: block;
      padding: 1em 0 0 0; }
      ul.actions.vertical li:first-child {
        padding-top: 0; }
      ul.actions.vertical li > * {
        margin-bottom: 0; }
    ul.actions.vertical.small li {
      padding: 0.5em 0 0 0; }
      ul.actions.vertical.small li:first-child {
        padding-top: 0; }
    ul.actions.uniform li > * {
      min-width: 12em; }
    ul.actions.fit {
      display: table;
      margin-left: -1em;
      padding: 0;
      table-layout: fixed;
      width: calc(100% + 1em); }
      ul.actions.fit li {
        display: table-cell;
        padding: 0 0 0 1em; }
        ul.actions.fit li > * {
          margin-bottom: 0; }
      ul.actions.fit.small {
        margin-left: -0.5em;
        width: calc(100% + 0.5em); }
        ul.actions.fit.small li {
          padding: 0 0 0 0.5em; }

dl {
  margin: 0 0 2em 0; }

/* Table */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto; }

table {
  margin: 0 0 2em 0;
  width: 100%; }
  table tbody tr {
    border-left: 0;
    border-right: 0; }
    table tbody tr:nth-child(2n + 1) {
      background-color: rgba(0, 87, 153, 0.1); }
  table td {
    padding: 0.75em 0.75em; }
  table th {
    color: #005799;
    font-size: 0.9em;
    font-weight: 400;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left; }
  table thead {
    border-bottom: solid 1px rgba(0, 87, 153, 0.5); }
  table tfoot {
    border-top: solid 1px rgba(0, 87, 153, 0.5); }
  table.alt {
    border-collapse: separate; }
    table.alt tbody tr td {
      border: solid 1px rgba(0, 87, 153, 0.5);
      border-left-width: 0;
      border-top-width: 0; }
      table.alt tbody tr td:first-child {
        border-left-width: 1px; }
    table.alt tbody tr:first-child td {
      border-top-width: 1px; }
    table.alt thead {
      border-bottom: 0; }
    table.alt tfoot {
      border-top: 0; }

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 0 0 1px rgba(0, 87, 153, 0.5);
  color: #005799 !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 400;
  height: 2.75em;
  letter-spacing: 0.125em;
  line-height: 2.75em;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  text-indent: 0.125em;
  text-transform: uppercase;
  white-space: nowrap; }
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  button:hover,
  .button:hover {
    background-color: rgba(0, 87, 153, 0.1); }
  input[type="submit"]:active,
  input[type="reset"]:active,
  input[type="button"]:active,
  button:active,
  .button:active {
    background-color: rgba(0, 87, 153, 0.2); }
  input[type="submit"].icon,
  input[type="reset"].icon,
  input[type="button"].icon,
  button.icon,
  .button.icon {
    padding-left: 1.35em; }
    input[type="submit"].icon:before,
    input[type="reset"].icon:before,
    input[type="button"].icon:before,
    button.icon:before,
    .button.icon:before {
      margin-right: 0.5em; }
  input[type="submit"].fit,
  input[type="reset"].fit,
  input[type="button"].fit,
  button.fit,
  .button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%; }
  input[type="submit"].small,
  input[type="reset"].small,
  input[type="button"].small,
  button.small,
  .button.small {
    font-size: 0.7em; }
  input[type="submit"].big,
  input[type="reset"].big,
  input[type="button"].big,
  button.big,
  .button.big {
    font-size: 1.25em; }
  input[type="submit"].special,
  input[type="reset"].special,
  input[type="button"].special,
  button.special,
  .button.special {
    background-color: #faa61a;
    box-shadow: none !important;
    color: #fff !important; }
    input[type="submit"].special:hover,
    input[type="reset"].special:hover,
    input[type="button"].special:hover,
    button.special:hover,
    .button.special:hover {
      background-color: #0065b3; }
    input[type="submit"].special:active,
    input[type="reset"].special:active,
    input[type="button"].special:active,
    button.special:active,
    .button.special:active {
      background-color: #004980; }
  input[type="submit"].disabled, input[type="submit"]:disabled,
  input[type="reset"].disabled,
  input[type="reset"]:disabled,
  input[type="button"].disabled,
  input[type="button"]:disabled,
  button.disabled,
  button:disabled,
  .button.disabled,
  .button:disabled {
    cursor: default;
    opacity: 0.25; }

/* Main */
.main {
  padding: 6em 0 4em 0; }
  .main.style1 {
    background: #fff; }
  .main.style2 {
    background-color: #333;
    color: rgba(255, 255, 255, 0.75); }
    .main.style2 a {
      border-bottom-color: rgba(255, 255, 255, 0.5); }
      .main.style2 a:hover {
        color: #ffffff; }
    .main.style2 h1, .main.style2 h2, .main.style2 h3, .main.style2 h4, .main.style2 h5, .main.style2 h6, .main.style2 strong, .main.style2 b {
      color: #ffffff; }
    .main.style2 header p {
      color: #ffffff; }
    .main.style2 header.major:after {
      background: #ffffff; }
    .main.style2 input[type="submit"],
    .main.style2 input[type="reset"],
    .main.style2 input[type="button"],
    .main.style2 button,
    .main.style2 .button {
      box-shadow: inset 0 0 0 1px #ffffff;
      color: #ffffff !important; }
      .main.style2 input[type="submit"]:hover,
      .main.style2 input[type="reset"]:hover,
      .main.style2 input[type="button"]:hover,
      .main.style2 button:hover,
      .main.style2 .button:hover {
        background-color: rgba(255, 255, 255, 0.125); }
      .main.style2 input[type="submit"]:active,
      .main.style2 input[type="reset"]:active,
      .main.style2 input[type="button"]:active,
      .main.style2 button:active,
      .main.style2 .button:active {
        background-color: rgba(255, 255, 255, 0.25); }
      .main.style2 input[type="submit"].special,
      .main.style2 input[type="reset"].special,
      .main.style2 input[type="button"].special,
      .main.style2 button.special,
      .main.style2 .button.special {
        background-color: #ffffff;
        box-shadow: inset 0 0 0 1px #ffffff !important;
        color: #333 !important; }
        .main.style2 input[type="submit"].special:hover,
        .main.style2 input[type="reset"].special:hover,
        .main.style2 input[type="button"].special:hover,
        .main.style2 button.special:hover,
        .main.style2 .button.special:hover {
          background-color: rgba(255, 255, 255, 0.125) !important;
          color: #ffffff !important; }
        .main.style2 input[type="submit"].special:active,
        .main.style2 input[type="reset"].special:active,
        .main.style2 input[type="button"].special:active,
        .main.style2 button.special:active,
        .main.style2 .button.special:active {
          background-color: rgba(255, 255, 255, 0.25) !important; }
    .main.style2 ul.major-icons li .icon {
      border-color: #ffffff; }
    .main.style2 .icon.major {
      color: #ffffff; }

/* Header */
#header {
  padding: 9em 0 9em 0;
  background-color: none;
  color: rgba(255, 255, 255, 0.75);
  overflow: hidden;
  position: relative;
  text-align: center; }
  #header a {
    border-bottom-color: rgba(255, 255, 255, 0.5); }
    #header a:hover {
      color: #ffffff; }
  #header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header strong, #header b {
    color: #ffffff; }
  #header header p {
    color: #ffffff; }
  #header header.major:after {
    background: #ffffff; }
  #header input[type="submit"],
  #header input[type="reset"],
  #header input[type="button"],
  #header button,
  #header .button {
    box-shadow: inset 0 0 0 1px #ffffff;
    color: #ffffff !important; }
    #header input[type="submit"]:hover,
    #header input[type="reset"]:hover,
    #header input[type="button"]:hover,
    #header button:hover,
    #header .button:hover {
      background-color: rgba(255, 255, 255, 0.125); }
    #header input[type="submit"]:active,
    #header input[type="reset"]:active,
    #header input[type="button"]:active,
    #header button:active,
    #header .button:active {
      background-color: rgba(255, 255, 255, 0.25); }
    #header input[type="submit"].special,
    #header input[type="reset"].special,
    #header input[type="button"].special,
    #header button.special,
    #header .button.special {
      background-color: #ffffff;
      box-shadow: inset 0 0 0 1px #ffffff !important;
      color: #4686a0 !important; }
      #header input[type="submit"].special:hover,
      #header input[type="reset"].special:hover,
      #header input[type="button"].special:hover,
      #header button.special:hover,
      #header .button.special:hover {
        background-color: rgba(255, 255, 255, 0.125) !important;
        color: #ffffff !important; }
      #header input[type="submit"].special:active,
      #header input[type="reset"].special:active,
      #header input[type="button"].special:active,
      #header button.special:active,
      #header .button.special:active {
        background-color: rgba(255, 255, 255, 0.25) !important; }
  #header ul.major-icons li .icon {
    border-color: #ffffff; }
  #header .icon.major {
    color: #ffffff; }
  #header h1 {
    margin: 0; }
  #header p {
    margin: 1em 0 0 0; }
  #header .actions {
    margin: 2.5em 0 0 0;
    position: relative; }
    #header .actions:after {
      /*background: $color-dark-border;*/
      content: '';
      height: 100vh;
      left: 50%;
      position: absolute;
      top: 100%;
      width: 1px; }
  #header .inner {
    -moz-transition: -moz-transform 1.5s ease, opacity 2s ease;
    -webkit-transition: -webkit-transform 1.5s ease, opacity 2s ease;
    -o-transition: -o-transform 1.5s ease, opacity 2s ease;
    -ms-transition: -ms-transform 1.5s ease, opacity 2s ease;
    transition: transform 1.5s ease, opacity 2s ease;
    -moz-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    transition-delay: 0.25s;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    position: relative;
    z-index: 1; }
    #header .inner .actions {
      -moz-transition: -moz-transform 1.25s ease;
      -webkit-transition: -webkit-transform 1.25s ease;
      -o-transition: -o-transform 1.25s ease;
      -ms-transition: -ms-transform 1.25s ease;
      transition: transform 1.25s ease;
      -moz-transition-delay: 1s;
      -webkit-transition-delay: 1s;
      -o-transition-delay: 1s;
      -ms-transition-delay: 1s;
      transition-delay: 1s;
      -moz-transform: translateY(0);
      -webkit-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
  #header:after {
    transition: -moz-opacity 1s ease;
    transition: -webkit-opacity 1s ease;
    transition: -o-opacity 1s ease;
    transition: -ms-opacity 1s ease;
    transition: opacity 1s ease;
    background-image: linear-gradient(45deg, #4fa49a, #4361c2);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%; }

body.is-loading #header .inner {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 0; }
  body.is-loading #header .inner .actions {
    -moz-transform: translateY(30em);
    -webkit-transform: translateY(30em);
    -o-transform: translateY(30em);
    -ms-transform: translateY(30em);
    transform: translateY(30em);
    opacity: 0; }
body.is-loading #header:after {
  opacity: 1; }

/* Footer */
#footer {
  padding: 6em 0 6em 0;
  background-color: #000;
  color: rgba(255, 255, 255, 0.75);
  text-align: center; }
  #footer a {
    border-bottom-color: rgba(255, 255, 255, 0.5); }
    #footer a:hover {
      color: #ffffff; }
  #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer strong, #footer b {
    color: #ffffff; }
  #footer header p {
    color: #ffffff; }
  #footer header.major:after {
    background: #ffffff; }
  #footer input[type="submit"],
  #footer input[type="reset"],
  #footer input[type="button"],
  #footer button,
  #footer .button {
    box-shadow: inset 0 0 0 1px #ffffff;
    color: #ffffff !important; }
    #footer input[type="submit"]:hover,
    #footer input[type="reset"]:hover,
    #footer input[type="button"]:hover,
    #footer button:hover,
    #footer .button:hover {
      background-color: rgba(255, 255, 255, 0.125); }
    #footer input[type="submit"]:active,
    #footer input[type="reset"]:active,
    #footer input[type="button"]:active,
    #footer button:active,
    #footer .button:active {
      background-color: rgba(255, 255, 255, 0.25); }
    #footer input[type="submit"].special,
    #footer input[type="reset"].special,
    #footer input[type="button"].special,
    #footer button.special,
    #footer .button.special {
      background-color: #ffffff;
      box-shadow: inset 0 0 0 1px #ffffff !important;
      color: #000 !important; }
      #footer input[type="submit"].special:hover,
      #footer input[type="reset"].special:hover,
      #footer input[type="button"].special:hover,
      #footer button.special:hover,
      #footer .button.special:hover {
        background-color: rgba(255, 255, 255, 0.125) !important;
        color: #ffffff !important; }
      #footer input[type="submit"].special:active,
      #footer input[type="reset"].special:active,
      #footer input[type="button"].special:active,
      #footer button.special:active,
      #footer .button.special:active {
        background-color: rgba(255, 255, 255, 0.25) !important; }
  #footer ul.major-icons li .icon {
    border-color: #ffffff; }
  #footer .icon.major {
    color: #ffffff; }
  #footer .icons {
    margin: 0; }
  #footer .copyright {
    font-size: 0.8em;
    list-style: none;
    margin: 2em 0 0 0;
    padding: 0; }
    #footer .copyright li {
      border-left: solid 1px;
      display: inline-block;
      line-height: 1em;
      margin-left: 1em;
      padding: 0 0 0 1em; }
      #footer .copyright li:first-child {
        border-left: 0;
        margin-left: 0;
        padding: 0; }

/*# sourceMappingURL=style.css.map */
