/*
	Photon by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Basic */
body, input, select, textarea {
  font-size: 13pt; }

h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
  display: none; }

/* List */
ul.major-icons li {
  padding: 2em; }
  ul.major-icons li .icon {
    height: 8em;
    line-height: 8em;
    width: 8em; }

/* Main */
.main {
  padding: 4em 0 2em 0; }
  .main.style2 {
    background-attachment: scroll; }

/* Header */
#header {
  padding: 5em 0 5em 0;
  background-attachment: scroll; }
  #header br {
    display: inline; }

/* Footer */
#footer {
  padding: 4em 0 4em 0;
  background-attachment: scroll; }

/*# sourceMappingURL=style-large.css.map */
