/*
	Photon by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Basic */
hr {
  border-bottom: solid 1px #ccc; }

blockquote {
  border-left: solid 4px #ccc; }

code {
  border: solid 1px #ccc; }

/* Section/Article */
header.major:after {
  background: #ccc; }

/* Form */
input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  -ms-behavior: url("css/ie/PIE.htc");
  border: solid 1px #ccc;
  position: relative; }

/* List */
ul.alt li {
  border-top: solid 1px #ccc; }
ul.major-icons li .icon {
  -ms-behavior: url("css/ie/PIE.htc");
  border: solid 1px #ccc;
  position: relative; }

/* Table */
table thead {
  border-bottom: solid 1px #ccc; }
table tfoot {
  border-top: solid 1px #ccc; }
table.alt tbody tr td {
  border: solid 1px #ccc;
  border-left-width: 0;
  border-top-width: 0; }

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -ms-behavior: url("css/ie/PIE.htc");
  border: solid 1px #ccc;
  position: relative; }

/* Image */
.image {
  -ms-behavior: url("css/ie/PIE.htc"); }
  .image img {
    -ms-behavior: url("css/ie/PIE.htc");
    position: relative; }

/* Main */
.main.style2 {
  background-color: #333;
  color: #ffffff;
  -ms-behavior: url("css/ie/backgroundsize.min.htc");
  background-image: url("../../images/header.jpg");
  background-size: cover;
  position: relative; }
  .main.style2 a {
    border-bottom-color: #ffffff; }
    .main.style2 a:hover {
      color: #ffffff; }
  .main.style2 h1, .main.style2 h2, .main.style2 h3, .main.style2 h4, .main.style2 h5, .main.style2 h6, .main.style2 strong, .main.style2 b {
    color: #ffffff; }
  .main.style2 header p {
    color: #ffffff; }
  .main.style2 header.major:after {
    background: #ffffff; }
  .main.style2 input[type="submit"],
  .main.style2 input[type="reset"],
  .main.style2 input[type="button"],
  .main.style2 button,
  .main.style2 .button {
    border: solid 1px #ffffff !important;
    color: #ffffff !important; }
    .main.style2 input[type="submit"]:hover,
    .main.style2 input[type="reset"]:hover,
    .main.style2 input[type="button"]:hover,
    .main.style2 button:hover,
    .main.style2 .button:hover {
      background-color: transparent; }
    .main.style2 input[type="submit"]:active,
    .main.style2 input[type="reset"]:active,
    .main.style2 input[type="button"]:active,
    .main.style2 button:active,
    .main.style2 .button:active {
      background-color: transparent; }
    .main.style2 input[type="submit"].special,
    .main.style2 input[type="reset"].special,
    .main.style2 input[type="button"].special,
    .main.style2 button.special,
    .main.style2 .button.special {
      background-color: #ffffff;
      border: solid 1px #ffffff !important;
      color: #333 !important; }
      .main.style2 input[type="submit"].special:hover,
      .main.style2 input[type="reset"].special:hover,
      .main.style2 input[type="button"].special:hover,
      .main.style2 button.special:hover,
      .main.style2 .button.special:hover {
        background-color: transparent !important;
        color: #ffffff !important; }
      .main.style2 input[type="submit"].special:active,
      .main.style2 input[type="reset"].special:active,
      .main.style2 input[type="button"].special:active,
      .main.style2 button.special:active,
      .main.style2 .button.special:active {
        background-color: transparent !important; }
  .main.style2 ul.major-icons li .icon {
    border-color: #ffffff; }
  .main.style2 .icon.major {
    color: #ffffff; }
  .main.style2:before {
    background-image: url("../images/overlay1.png");
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .main.style2 > * {
    position: relative;
    z-index: 1; }

/* Header */
#header {
  background-color: #4686a0;
  color: #ffffff; }
  #header a {
    border-bottom-color: #ffffff; }
    #header a:hover {
      color: #ffffff; }
  #header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header strong, #header b {
    color: #ffffff; }
  #header header p {
    color: #ffffff; }
  #header header.major:after {
    background: #ffffff; }
  #header input[type="submit"],
  #header input[type="reset"],
  #header input[type="button"],
  #header button,
  #header .button {
    border: solid 1px #ffffff !important;
    color: #ffffff !important; }
    #header input[type="submit"]:hover,
    #header input[type="reset"]:hover,
    #header input[type="button"]:hover,
    #header button:hover,
    #header .button:hover {
      background-color: transparent; }
    #header input[type="submit"]:active,
    #header input[type="reset"]:active,
    #header input[type="button"]:active,
    #header button:active,
    #header .button:active {
      background-color: transparent; }
    #header input[type="submit"].special,
    #header input[type="reset"].special,
    #header input[type="button"].special,
    #header button.special,
    #header .button.special {
      background-color: #ffffff;
      border: solid 1px #ffffff !important;
      color: #4686a0 !important; }
      #header input[type="submit"].special:hover,
      #header input[type="reset"].special:hover,
      #header input[type="button"].special:hover,
      #header button.special:hover,
      #header .button.special:hover {
        background-color: transparent !important;
        color: #ffffff !important; }
      #header input[type="submit"].special:active,
      #header input[type="reset"].special:active,
      #header input[type="button"].special:active,
      #header button.special:active,
      #header .button.special:active {
        background-color: transparent !important; }
  #header ul.major-icons li .icon {
    border-color: #ffffff; }
  #header .icon.major {
    color: #ffffff; }

/* Footer */
#footer {
  background-color: #4686a0;
  color: #ffffff; }
  #footer a {
    border-bottom-color: #ffffff; }
    #footer a:hover {
      color: #ffffff; }
  #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer strong, #footer b {
    color: #ffffff; }
  #footer header p {
    color: #ffffff; }
  #footer header.major:after {
    background: #ffffff; }
  #footer input[type="submit"],
  #footer input[type="reset"],
  #footer input[type="button"],
  #footer button,
  #footer .button {
    border: solid 1px #ffffff !important;
    color: #ffffff !important; }
    #footer input[type="submit"]:hover,
    #footer input[type="reset"]:hover,
    #footer input[type="button"]:hover,
    #footer button:hover,
    #footer .button:hover {
      background-color: transparent; }
    #footer input[type="submit"]:active,
    #footer input[type="reset"]:active,
    #footer input[type="button"]:active,
    #footer button:active,
    #footer .button:active {
      background-color: transparent; }
    #footer input[type="submit"].special,
    #footer input[type="reset"].special,
    #footer input[type="button"].special,
    #footer button.special,
    #footer .button.special {
      background-color: #ffffff;
      border: solid 1px #ffffff !important;
      color: #4686a0 !important; }
      #footer input[type="submit"].special:hover,
      #footer input[type="reset"].special:hover,
      #footer input[type="button"].special:hover,
      #footer button.special:hover,
      #footer .button.special:hover {
        background-color: transparent !important;
        color: #ffffff !important; }
      #footer input[type="submit"].special:active,
      #footer input[type="reset"].special:active,
      #footer input[type="button"].special:active,
      #footer button.special:active,
      #footer .button.special:active {
        background-color: transparent !important; }
  #footer ul.major-icons li .icon {
    border-color: #ffffff; }
  #footer .icon.major {
    color: #ffffff; }

/*# sourceMappingURL=v8.css.map */
